%h1 בסביבה
%p
    קישורים מומלצים למסעדות ואטרקציות בסביבה 
%ul.around
    %li
        %a{href:"https://heights.co.il/%d7%9e%d7%a9%d7%94%d7%95-%d7%9c%d7%90%d7%9b%d7%95%d7%9c/"}
            משהו לאכול בגולן
    %li
        %a{href:"https://moshbutz.co.il/"}
            מסעדת המושבוצ - מושב רמות
    %li
        %a{href:"https://www.instagram.com/nino_coffeecart/"}
            עגלת קפה נינו במעלה גמלא
    %li
        %a{href:"https://www.marinado.co.il/"}
            מרינדו מסעדת בשר בעין גב
    %li
        %a{href:"https://www.tibis.co.il/"}
            מסעדת טיביס בורד הגליל
    %li
        %a{href:"https://www.gillis.co.il/"}
            מסעדת גיליס בנוב (כשר)
    %li
        %a{href:"https://www.mall-kinneret.co.il/"}
            מתחם צמח - מסעדות, חנויות סופרמרקט
    %li
        %a{href:"https://www.facebook.com/Mattarellocafe"}
            מרטלו - בית קפה קטן בקיבוץ עין זיוון

