%h1 צור קשר
%p
    לפרטים והזמנות אנא פנו אלינו
%h2 כתובתנו
%p
    שקט בענן
    מושב מעלה גמלא
%h2 טלפונים
%p
    %ul.contacts
        %li
            %a{href: "tel:+972-52-2561725"}
                אסף בנקל
                %span{style: "dir:ltr;"}
                    +972-52-2561725
        %li
            %a{href: "tel:+972-54-5459456"}
                עמית בנקל
                %span
                    +972-54-5459456

= render "contacts/new", contact: Contact.new
