= javascript_pack_tag 'gallery'
- images = Dir.glob("app/assets/images/edith_suite/*.jpg").map{|path| path.split("/").last }

%h1 בקתת אדית

%div.main-img
    =image_tag "edith_suite/#{images[0]}", id: "current"

%div.imgs
    -images.each do |i|
        =image_tag "edith_suite/#{i}"
