%h1
    שקט בענן

.container
    .row
    .col
        %p.text-center
            %img.img-fluid{alt: "שקט בענן", src:image_url("sheketbeanan.jpg")}
        %p
            סיפורנו מתחיל כחלום שהפך לחזון ונרקם אט אט לכדי מציאות.
            הסוויטות, הכרם וסביבתן מושפעות ומתמזגות בנוף ובטבע המקיף אותן.
            מתחם הצימרים שלנו נבנה על המשכיות והתחדשות, על השיבה הביתה לגולן.
            בחזרתנו גמרנו בליבנו החלטה, ליצור מתחם אירוח בסטנדרטים הגבוהים ביותר ליצירת חוויה שלמה ועגולה לאורחים המחפשים שלווה, רוגע ואירוח מושלם.
        %p
            בחרנו לקרוא לסוויטות על שם נשים חזקות אשר ליוו אותנו...
        %p
            אדית - מסמלת את רוחב הלב וקירוב אנושי ללא תנאים.
        %p
            אווה - אור לחכמה,חוזקה ועוצמה נשית.
        %p
            יטקה - מצפן לרוח, ליצירה, תרבות ומתנת הנתינה.
        %p
            הסוויטות, הכרם והנוף מהווים שלושה אלמנטים מרכזיים השוזרים בשילובם את חווית החופש האולטימטיבית.
            את מתחמנו אנו בונים ומשמרים מתוך הערכה ואהבה ליצירה.
            נשמח לראותכם.
        %p
            %strong משפחת בנקל

%iframe{scrolling:"auto", src:"https://secure.ezgo.co.il/Main/ItemCalendar?iItemId=1002&Lng=he&Bk=white&HeadLineBk=717275&HeadLineFC=white&HideVac=1", width:"269", frameborder:"0", height:"270"}

