%p
    סיפורנו מתחיל כחלום שהפך לחזון ונרקם אט אט לכדי מציאות.
    הסוויטות, הכרם וסביבתן מושפעות ומתמזגות בנוף ובטבע המקיף אותן.
    מתחם הצימרים שלנו נבנה על המשכיות והתחדשות, על השיבה הביתה לגולן.
    בחזרתנו גמרנו בליבנו החלטה, ליצור מתחם אירוח בסטנדרטים הגבוהים ביותר ליצירת חוויה שלמה ועגולה לאורחים המחפשים שלווה, רוגע ואירוח מושלם.

%p
    בחרנו לקרוא לסוויטות על שם נשים חזקות אשר ליוו אותנו בחיינו….. 
    %ul
        %li אדית
        %li איב
        %li יטקה (coming soon)

%p
    הסוויטות, הכרם והנוף מהווים שלושה אלמטים מרכזיים השוזרים בשילובם את חווית החופש האולטימטיבית.
    את מתחמנו אנו בונים ומשמרים מתוך הערכה ואהבה ליצירה.
    נשמח לראותכם.
    משפחת בנקל
 