%h1 הסוויטות

%p
  המתחם כולל שתי סוויטות, אֵוָה ואֵדִית, זהות אחת לשניה בעיצוב הפנים ומעט שונות בחצר. שתי הסוויטות מיועדות לזוגות בלבד. בכל סוויטה ניתן למצוא: פרטיות, ג'קוזי פנימי וג'קוזי ספא חיצוני, מטבחון מאובזר, ונוף לכרם הנמשך לכנרת והרי הגליל.
%p
  בנוסף ניתן להנות ממכונת קפה טוחנת, smart TV, WIFI גינה פרטית, גריל ברביקיו, ריהוט גן ועוד.
%p.text-center
  %a{href: "/he/gallery"}
    =image_tag "suites.jpg", alt: "The suites", class: "img-fluid"