%h1 הבקתות

%p
    המתחם כולל שתי סוויטות זהות לזוגות, פרטיות, ג'קוזי ספא חיצוני ופנימי, מטבחון מאובזר לכל סוויטה, ונוף לכרם הנמשך לכנרת והרי הגליל.

%h2 אדית
%p
    =image_tag "edit_suite/1.jpg", alt: "Edit suite"

%h2 איב
%p
    =image_tag "eiv_suite/1.jpg", alt: "Eiv suite"

%p
    מפרט
    %ul 
        %li מטבחון  
        %li כיריים (לבדוק אם יש..)
        %li מיקרוגל
        %li מקרר
        %li קומקום
        %li מכונת קפה טוחנת
        %li כלי אוכל
        %li גריל ברביקיו
        %li ג'קוזי פנימי
        %li ג'קוזי חוץ גדול
        %li smart TV             
        %li WIFI
        %li גינה פרטית
        %li ריהוט גן
