%h1 הסוויטות

%p
    המתחם כולל שתי סוויטות Eva & Edith זהות אחת לשניה בעיצוב הפנים ומעט שונות בחצר. שתי הסוויטות מיועדות לזוגות בלבד. בכל סוויטה ניתן למצוא: פרטיות, ג'קוזי פנימי וג'קוזי ספא חיצוני, מטבחון מאובזר, ונוף לכרם הנמשך לכנרת והרי הגליל.
%p
    בנוסף ניתן להנות ממכונת קפה טוחנת, smart TV, WIFI גינה פרטית, גריל ברביקיו, ריהוט גן ועוד.

.container
    .row
        .col.text-center
            %a{href: "/he/gallery_edith"}
                %h2 אדית
                %p
                    =image_tag "edith_suite/2.jpg", alt: "Edith suite", style: "width: 540px; height:360px;"
        .col.text-center
            %a{href: "/he/gallery_eva"}
                %h2 אווה
                %p
                    =image_tag "eva_suite/1.jpg", alt: "eva suite", style: "width: 540px; height:360px;"