%h1 הבקתות

%p
    המתחם כולל שתי סוויטות זהות לזוגות, פרטיות, ג'קוזי ספא חיצוני ופנימי, מטבחון מאובזר לכל סוויטה, ונוף לכרם הנמשך לכנרת והרי הגליל.

.container
    .row
        .col.text-center
            %a{href: "/he/gallery_edit"}
                %h2 אדית
                %p
                    =image_tag "edit_suite/2.jpg", alt: "Edit suite", style: "width: 540px; height:360px;"
        .col.text-center
            %a{href: "/he/gallery_eiv"}
                %h2 איב
                %p
                    =image_tag "eiv_suite/1.jpg", alt: "Eiv suite", style: "width: 540px; height:360px;"