%p
    Our story begins as a dream that has become a vision and is slowly being woven into reality.
    The suites, the vineyard and their surroundings are influenced and blend into the landscape and nature that surrounds them.
    Our B&B complex was built on continuity and renewal, on returning home to the Golan.
    Upon our return, we made a decision in our hearts to create a hospitality complex of the highest standards to create a complete and round experience for guests seeking peace, tranquility and perfect hospitality.
    The suites, the vineyard and the view are three main elements that combine to combine the ultimate experience of freedom.
    We build and preserve our complex out of appreciation and love for creation.

%p
    We will be happy to see you.
    The Benkel family
 