/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require_tree ./med
 */

body {
    direction: rtl;
}

body container {
  max-width: 1024px;
}

.hidden {
  display: none;
}

#top div h1 {
  text-align: center;
}

a[href^="tel:"] {
  direction:ltr;
  display:inline-block;
}

.around .col-4 {
  text-align: center;
  padding-bottom: 1em;
}

.around .img-container {
  height: 160px;
  justify-content: center;
  display: flex;
  align-items: center;
}

img.galleryImage {
  display: none;
}

.submit-button {
  padding-top: 1em;
}

a.navbar-brand span {
  display:table-cell;
  vertical-align:middle;
}