:root {
  --fade-time: 0.2s;
}
 
.main-img {
  text-align: center;
  padding-bottom: 1em;
}

.imgs img {
  width: 80%;
}
 
.imgs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}
 
.imgs img {
  cursor: pointer;
}
 
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
 
.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}
 
div.gallery {
  padding-top: 2em;
  min-height: 438px;
}